.header {
    display: flex;
    flex-direction: row;
    height: 70px;
}

.categoryTittle {
    display: flex;
    align-self: center;
    font-size: 23px;
    margin-left: 10px;
}



.categoriesImage {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 100%;
    padding: 3px;
}

.categoryWrapper {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 7px;
    padding-bottom: 10px;
    width: 100%;
    height: 348px;
    gap: 15px;
    overflow-y: auto;
    border-bottom: 1px solid black;


    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: gray;
    }

    &.closed {
        padding-bottom: 0px;
    }


}

.noCategoryWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    font-size: 29px;

    img {
        height: 100px;
        width: auto;
    }
}

.noCategoryWrapperClosed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    font-size: 19px;

    img {
        height: 80px;
        width: auto;
        margin-right: 10px;
    }
}