.header {
    display: flex;
    flex-direction: row;
}

.categoryTittle {
    display: flex;
    align-self: center;
    font-size: 25px;
    margin-left: 10px;
}

.categoryWrapper {
    margin-top: 10px;
    margin-left: 10px;
}