.cp-input {
    position: relative;
}



.active::before {
    content: "";
    position: absolute;
    left: 10px;
    transform: translate(-2px, 15px);
    height: 13px;
    width: 2px;
    background-color: blue;
}

.input-icon {
    position: absolute;
    width: 25px;
    height: 25px;
    transform: translate(-30px, 35%);
    pointer-events: none;
}