.inputBoxWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .inputWrapper {
        display: flex;
        flex-direction: row;
        gap: 2px;
        position: relative;

        .inputLine {
            border-right: 1px solid green;
            width: 8px;
            align-self: center;
            height: 20px;

            &.active {
                border-right: 1px solid blue;
            }
        }

        .inputField {
            input {
                border: none;
                background: transparent;
                border: none;

                &:focus {
                    background: transparent;
                    border: none;
                    outline-width: 0;
                }

                &:hover {
                    border: none;
                    background: transparent;
                    border: none;
                }
            }
        }

        .inputIcon {
            align-self: center;
            padding-right: 10px;

            img {
                width: 20px;
                height: 20px;
            }
        }

        &.blueBorder {
            border: 2px solid blue;
        }
    }

    .inputHint {
        text-align: left;
        top: 100%;
    }

}

.inputWrapper.active {
    outline: 1px solid blue;
}

.inputLine.active {
    border-right: 1px solid blue;
}

.inputWrapper.blueBorder {
    border: 1px solid blue;
}