.addCategoryContent {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 11px;
    justify-items: start;
    grid-template-areas:
        'headerLeft header'
        'footerLeft footer';
}

.droppedImage {
    width: 100%;
    height: 100%;
}

.categoryHeaderText {
    font-size: 25px;
}


.categoryTextInput {
    font-size: 20px;
    display: flex;
    justify-content: center;
    right: 20px;
    margin-top: 10px;
    width: 240px;
    height: 50px;
    border-radius: 7px;
    background-color: lightgray;
    border: none;
    padding-left: 10px;
    grid-area: header;
}


.categoryNameTitle {
    font-size: 23px;
    grid-area: headerLeft;
}

.categoryIconTitle {
    font-size: 23px;
    grid-area: footerLeft;
}

.saveCategoryBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    font-size: 20px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 8px;
    outline: 0;
    transition: 0.3s linear;
    padding: 0px 10px 0px 10px;

    &:active {
        transform: scale(0.85);
        box-shadow: 3px 2px 25px 1px rgba(0, 0, 0, 0.25);
    }
}