.dropdownWrapper {
    display: flex;
    flex-direction: column;
    width: 270px;
}

.dropdownInput {
    border: 1px solid blue;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 5px;
    height: 32px;
    background-color: white;

}

.showDropdown {
    border: 1px solid blue;
    border-top: none;

}

.dropdownInput input,
.dropdownInput button {
    background: none;
    outline: none;

}

.dropdownInput input {
    border: none;
    flex: 1;
    font-size: 17px;
}



.iconArrow {
    height: 17px;
    width: 17px;
    margin-left: 0px;
}

.dropdownButton {
    cursor: pointer;
    border: none;
    height: 17px;
    padding-left: 5px;
    margin-right: 0px;
    padding-right: 0px;
}

.line {
    border-left: 1px solid gray;
}

.clearIcon {
    width: 15px;
    height: 15px;
}

.clearButton {
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

.optionsClassName {
    cursor: pointer;
    font-size: 20px;
    padding: 5px;

    &:hover {
        background-color: lightblue;
    }

}

.dropdownBody {
    border: 2px solid blue;
    border-top: none;
    max-height: 200px;
    background-color: white;
    overflow: auto;
    width: 270px;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: gray;
    }

    position: absolute;
    z-index: 9999;
}

.noMatchesText {
    font-size: 20px;
    border: 1px solid blue;
    border-top: none;
}

.keydownOption {
    background-color: lightblue;
}

.disabled {
    opacity: 0.5;
}

.optionItem {
    font-size: 20px;
    padding: 3px;
    cursor: pointer;

    &:hover {
        background-color: lightblue;
    }

    &.selectedOption {
        background-color: #00CED1;
    }
}