.sideBarWrapper {
    &.Opened {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 604px;
        border: 3px solid red
    }

    &.Closed {
        display: flex;
        flex-direction: column;
        width: 100px;
        border: 3px solid red;
    }
}


.modeMonipulatorPanelClose {
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        width: 64px;
        height: 64px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 7px;
    }
}

.toggleSidebar {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 7px;
    margin-top: 3px;
}

.iconOpen {
    width: 70px;
    height: 70px;
}



.categoriesImage {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 100%;
    padding: 3px;
}

.addCategoriesButton {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.AddCategoriesIcon {
    width: 70px;
    height: 70px;
}

.sortCategoriesButton {
    margin-top: 7px;
    margin-bottom: 3px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sortCategoriesIcon {
    width: 70px;
    height: 70px;
}