.controlPanel {
    button {
        background-color: transparent;
        height: 64px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none;
        gap: 30px;
        cursor: pointer;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 7px;

        &.AddCategoriesIcon {
            width: 70px;
            height: 70px;
        }

        &.opened {
            button {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        &.closed {
            button {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }

        p {
            font-size: 22px;
            margin-right: 50%;
            font-family: cursive;
        }
    }

    border-bottom: 1px solid black;
}