.controlPanelClose {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid black;
    padding-bottom: 2px;
}

.controlPanelOpen {
    button {
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        gap: 30px;
        cursor: pointer;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 7px;

        p {
            font-size: 22px;
            margin-right: 50%;
        }

    }

    border-bottom: 3px solid black
}