.button {
    width: 100px;
    height: 55px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.text {
    font-size: 20px;
}

.button:hover {
    cursor: pointer;
}

.icon {
    width: 25px;
    height: 25px;
}