.modeMonipulatorPanel.opened {
    button {
        background-color: transparent;
        height: 64px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none;
        gap: 30px;
        cursor: pointer;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 7px;
        padding-left: 16px;

        .monipulatorIcon {
            width: auto;
            height: 38px;
            background: transparent;
            padding-left: 7px;
        }

        p {
            font-size: 22px;
            margin-right: 50%;
            font-family: cursive;
        }
    }


    border-bottom: 1px solid black;
}

.modeMonipulatorPanel.closed {
    button {
        background-color: transparent;
        height: 64px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none;
        gap: 30px;
        cursor: pointer;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 7px;
        padding-left: 16px;

        .monipulatorIcon {
            width: auto;
            height: 38px;
            background: transparent;
            padding-left: 7px;
        }

    }


    border-bottom: 1px solid black;
}