.modeMonipulatorPanel {
    button {
        background-color: transparent;
        height: 64px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border: none;
        gap: 30px;
        cursor: pointer;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 7px;

        .monipulatorIcon {
            width: 70px;
            height: 70px;
        }

        p {
            font-size: 22px;
            margin-right: 50%;
        }
    }

    border-bottom: 3px solid black;
}