.categoryHeaderText {
    font-size: 25px;
}

.addCategoryContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 11px;
}

.droppedImage {
    width: 100%;
    height: 100%;
}

#previewContainer {
    height: 100px;
    width: 100px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 8px;
    margin-left: 123px;
}

.categoryTextInput {
    font-size: 20px;
    display: flex;
    justify-content: center;
    right: 20px;
    margin-top: 10px;
    width: 240px;
    height: 50px;
    border-radius: 7px;
    background-color: lightgray;
    border: none;
}

.categoryDrugInput {
    font-size: 20px;
    margin-left: 122.5px;
    right: 20px;
    height: 90px;
    width: 90px;
    background-color: lightgray;
    border: none;
    border-radius: 8px;
}

.addCategoryName {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.addCategoryImage {
    display: flex;
    flex-direction: row;
    justify-content: last baseline;
    align-items: center;
    gap: 20px;
}

.categoryNameTitle {
    font-size: 23px;
}

.saveCategoryBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 115px;
    height: 35px;
    font-size: 20px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 8px;
    outline: 0;
    transition: 0.3s linear;

    &:active {
        transform: scale(0.85);
        box-shadow: 3px 2px 25px 1px rgba(0, 0, 0, 0.25);
    }
}