.sideBarWrapperOpen {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 3px solid red;
}

.headerOpen {
    display: flex;
    flex-direction: row;
}

.toggleSidebarText {
    font-size: 25px;
    margin-left: 10px;
}

.bordeLineOpen {
    height: 3px;
    width: 100%;
    background-color: black;
}

.addCategoriesButtonOpen {
    display: flex;
    align-items: center;
    background-color: transparent;
    font-size: 25px;
    border: none;
    padding: 5px
}

.AddCategoriesText {
    margin-left: 10px;
}

.sortCategoriesButtonOpen {
    display: flex;
    align-items: center;
    background-color: transparent;
    font-size: 15px;
    border: none;
    height: 90px;
}

.AddCategoriesIconOpen {
    width: 70px;
    height: 70px;
}


.sortCategoriesIconOpen {
    width: 70px;
    height: 70px;
}

.categories {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: gray;
    }
}