.settingsPanel {
    button {
        background-color: transparent;
        height: 64px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-top: 5px;

        &.sortCategoriesIcon {
            width: 70px;
            height: 70px;
        }

        p {
            display: flex;
            align-items: center;
            font-size: 15px;
            height: 65px;
            width: 200px;
        }
    }

    margin-bottom: 7px;
}