.modalWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 400px;
    max-height: 220px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
}



.header {
    display: flex;
    height: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid lightgrey;
    background-color: lightgreen;
    border-radius: 9px 9px 0 0;

}

.title {
    font-size: 21px;
    font-weight: bold;
}


.content {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    font-size: 18px;
    max-height: 140px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    width: auto;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: gray;
    }
}

.footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 40px;
}

.closeButton {
    position: absolute;
    border: none;
    top: 0px;
    right: 0px;
    color: gray;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s;
    border-radius: 10px;

    &:hover {
        background-color: lightgray;
        color: black;
    }
}