.modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.modalClose {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -19px;
    top: -16px;
    border: none;
    background-color: transparent;
    height: 40px;
    width: auto;
    cursor: pointer;
    transition: transform 0.3s ease;

}

.modalClose:hover {
    transform: scale(1.1);
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modalCloseImg {
    width: 100%;
    height: 100%;
}