.modalContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 350px;
    padding: 15px;
    height: 190px;
    width: auto;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: gray;
    }

}